/*

STYLEGUIDE - COLORS

NEGRO ::::::::: #333333
NARANJA ::::::: #C2814D 
NARANJA_DARK :: #934a10 
VERDE ::::::::: #45B173 
VERDE_DARK :::: #3d9b65
MORADO :::::::: #7D47BB
MORADO_LIGHT :: #9959e3

*/
body{
    background: #C2814D;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: #fff;
    padding: 20px 0;
}
.wrapper{
    padding: 0 30px;
}
.header .flex{
    justify-content: space-between;
}
.pages{
    display: grid;
}
.logo{
    margin: 0;
    font-size: 33px;

}
.flex{
    display: flex;
}
.products-4row{
    display: flex;
    justify-content: space-between;
}
.products-4row > div{
    width: 23%;
}
.pages > div{
    grid-row: 1;
    grid-column: 1;
}

.v-enter-active, .v-leave-active {
    transition: opacity .5s;
}
.v-enter, .v-leave-to {
    opacity: 0;
}
.router-link-active{
    font-weight: bold;
}
