/*

STYLEGUIDE - COLORS

NEGRO ::::::::: #333333
NARANJA ::::::: #C2814D 
NARANJA_DARK :: #81512a 
VERDE ::::::::: #45B173 
VERDE_DARK :::: #3d9b65
MORADO :::::::: #7D47BB
MORADO_LIGHT :: #9959e3

*/
body{
    background: #C2814D;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.header{
    background: #fff;
    padding: 15px 0;
}
.wrapper{
    box-sizing: border-box;
    width: 100%;
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}
@media (max-width: 980px) {
    .wrapper{
        padding: 0 15px;
    }
}
.header .flex{
    justify-content: space-between;
    align-items: center;
}
.pages{
    display: grid;
}
.logo{
    position: relative;
    margin: 0;
    font-size: 33px;
    width: 185px;
}
.nav{
    margin: 0 auto;
}
.nav a{
    display: inline-block;
    color: black;
    margin: 0 15px;
    min-width: 75px;
    text-align: center;
}
.flex{
    display: flex;
}
.pages > div{
    grid-row: 1;
    grid-column: 1;
    min-width: 0;
}

.v-enter-active, .v-leave-active {
    transition: opacity .5s;
}
.v-enter, .v-leave-to {
    opacity: 0;
}
.router-link-active{
    font-weight: bold;
}
* footer{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    width: 100%;
    background:#884511;
    color: black;
}
.container-foter-allO{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-around; 
}
.column{
    max-width: 400px;

}
.column h1{
    font-size: 20px;
}
.column p{
    font-size: 13px;
    margin-top: 14px;
    color: #C7C7C7;
}
.column2{
    max-width: 400px;

}
.column2 h1{
    font-size: 18px;
}
.row{
    margin-top: 14px;
    display: flex;
}
.row img{
    width: 30px;
    height: 30px;
}
.row label{
    margin-top: 6px;
    margin-left: 4px;
    color: #C7C7C7;
}
.column3{
    max-width: 400px;

}
.column3 h1{
    font-size: 18px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 30px;
    height: 30px;
}
.row2 label{
    margin-top: 10px;
    max-width: 150px;
    margin-left: 4px;
    color: #C7C7C7;
}
.container-footer{
    max-width: 100%;
    background-color: #3f1f06;
    margin-top: 10px;
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.copyright{
    color: #C7C7C7;

}
.copyright a{
    color: #C7C7C7;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}
.informacion a{
    text-decoration: none;
    color: #C7C7C7;
    font-size: small;
}
@media screen and (max-width: 1000px) {
    .container-body{
        flex-wrap: wrap;
    }
}
       
.logo:after{
    content: "";
    position: absolute;
    left: 0;
    right: auto;
    top: 8%;
    bottom: 15%;
    background: black;
    animation-name: logo_itz;
    animation-duration: 1s;
    transform: skew(-33deg);
}

@keyframes logo_itz {
    0%  {left:0;right:0;}
    100%  {left:31%;right:68%;}
}